<div class="container__big-card">

<div class="big-card__photo">
    <img src="https://i.ytimg.com/vi/almErYh1zZ8/maxresdefault.jpg " 
    alt="" 
    height="400 pix;"
    width=""
    srcset="">
</div>

<div class="big-card__title">
<h1><a href="#">Naruto e suas formas</a></h1>
</div>

<div class="big-card__description">
    <a href="#"><p>As transformações que o corpo de Naruto tinha eram manifestações do chakra de sua Besta de Cauda e isso é um processo comum pelo qual todos os Jinchurikis passaram. Entretanto, Naruto e Kurama tinham o seu diferencial por usarem senjutsu e o poder dos Seis Caminhos. Veja a seguir todas as transformações e evoluções que Naruto atingiu até hoje.</p> </a>
</div>
</div>
