<app-menu-bar></app-menu-bar>
<app-menu-title></app-menu-title>

<div class="container__articles">
<div class="articles__main">
<app-big-card photocover="https://i.ytimg.com/vi/almErYh1zZ8/maxresdefault.jpg"
cardtitle="Naruto e suas formas"
carddescription="As transformações que o corpo de Naruto tinha eram manifestações do chakra de sua Besta de Cauda e isso é um processo comum pelo qual todos os Jinchurikis passaram. Entretanto, Naruto e Kurama tinham o seu diferencial por usarem senjutsu e o poder dos Seis Caminhos. Veja a seguir todas as transformações e evoluções que Naruto atingiu até hoje."
 ></app-big-card>

 <app-big-card photocover="https://nerdc.files.wordpress.com/2012/06/nerdc_narutofases1.jpg?w=345"
cardtitle="As fases do Naruto"
carddescription="A segunda fase de Naruto traz uma dinâmica completamente nova para o anime: adolescentes, os personagens que nós acompanhamos desde o exame Chunin estão crescidos e mais poderosos. É em Naruto Shippuden que vemos os ninjas chegarem ao seu potencial máximo e encararem desafios que colocaram o mundo shinobi inteiro em perigo."
 ></app-big-card>



</div>
<div class="articles__others">
    <app-smal-card photocover="https://i.ytimg.com/vi/Gncc1e3SqcU/maxresdefault.jpg"
    cardtitle="TODOS OS JUTSUS DO NARUTO NO MODO KURAMA" ></app-smal-card>

    <app-smal-card photocover="https://i1.sndcdn.com/artworks-000393688140-3he4t4-t500x500.jpg"
    cardtitle="Pai do Naruto"></app-smal-card>

    <app-smal-card photocover="https://i.pinimg.com/originals/7b/2e/df/7b2edf16329dd8c21d85e74afdb06393.png"
    cardtitle="Mãe do Naruto"></app-smal-card>
    
</div>
</div>
