.container__menu-bar{
    margin-top: 20px;
    font-size: 45px;
    display: flex;
    justify-content: center;
    
}
.container__menu-bar > ul{
display: flex;
flex-direction: row;



}
.container__menu-bar > ul > li{
margin-right: 100px;
list-style: none;

    
}